<div class="footer-section">
  <div class="footer-row">
    <p>We acknowledge the Traditional Owners of country throughout Australia and pay our respects to their Elders past, present and emerging.</p>
    <!-- Add the footer logo -->
    <!--<img/>-->
  </div>
  <div class="footer-row">
    <p>Copyright © 2021 Digital Purpose</p>
  </div>
</div>
