@import "../../../scss/variables";

.footer-section {
  display: flex;
  flex-direction: column;
  height: 252px;
  padding: 40px 32px 32px 32px;
  background: $dark-blue-grey;

  .footer-row {

  }

  p {
    font-size: 16px;
    color: #ffffff;
  }
}
