@import "../../../scss/variables";

.banner-section {
  padding: 50px 0px 50px 44px;
  background: $ice-blue;
  border-radius: 8px;

  .header {
    font-size: 28px;
    font-weight: 900;
  }

  .share-button {
    color:#ffffff;
    background: $dark-blue-grey;
  }
}
