<div class="banner-section">
  <p class="header">Ideas for a better world</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button class="btn share-button">Share your idea</button>
  <!-- Add banner image-->
  <!--<img />-->
</div>
